@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;


.loader{

    &__container {
        display: grid; 
        padding-left: 1rem;
        padding-right: 1rem; 
        padding-top: 6rem;
        padding-bottom: 6rem; 
        place-content: center; 
        height: 100dvh;
    }

    &__heading {
        font-family: "ClashDisplay";
        color: $primary-light;
        font-size: 2rem;
        min-width: max-content;
        margin-bottom: 1rem;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__item {
        width: 2rem; 
        height: 5rem; 
        background-color: $primary-light; 
    }

    &__bar {
        @include flexbox();
        gap: 1rem;
    }
}