@use "../base/typography.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "GeneralSans", Arial, Helvetica, sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}