*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "GeneralSans", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}