@font-face {
    font-family: "GeneralSans";
    src: url("./assets/fonts/GeneralSans/GeneralSans-Light.ttf") format("truetype"),
    url("./assets/fonts/GeneralSans/GeneralSans-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans";
    src: url("./assets/fonts/GeneralSans/GeneralSans-Regular.ttf") format("truetype"),
    url("./assets/fonts/GeneralSans/GeneralSans-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans";
    src: url("./assets/fonts/GeneralSans/GeneralSans-Semibold.ttf") format("truetype"),
    url("./assets/fonts/GeneralSans/GeneralSans-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans";
    src: url("./assets/fonts/GeneralSans/GeneralSans-Bold.ttf") format("truetype"),
    url("./assets/fonts/GeneralSans/GeneralSans-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay";
    src: url("./assets/fonts/clashDisplay/ClashDisplay-Semibold.ttf") format("truetype"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay";
    src: url("./assets/fonts/clashDisplay/ClashDisplay-Bold.ttf") format("truetype"),
    url("./assets/fonts/clashDisplay/ClashDisplay-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
