@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.btn {
    background-color: $accent;
    color: $primary-dark;
    border-radius: 10px;
    border: none;
    padding: 0.85rem 1.25rem;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: $shadow;
    cursor: pointer;


    // &--border{
    //     border: 2px solid $accent;
    //     background-color: $primary-dark;
    //     color: $accent;
    // }
}