@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.navigation {
    
    &__container {
        @include flexbox($align-items: cente, $justify: space-between);
        border-bottom: 1px solid $primary-light;
    }

    &__link {
        gap: 1rem;
    }

    &--desktop{
        display: none;
        
        @include desktop{
            @include flexbox($align-items: center);
            margin-top: .5rem;
            max-width: 80rem;
            margin: 0 auto;
        }
    }

    &__icon {
        @include desktop {
            display: none;
        }
    }

    &__btns {
        @include flexbox($direction: row);
    }
}