@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.navigation {
    
    &__container {
        @include flexbox($align-items: center);
    }

    &__link {
        gap: 1rem;
    }

    &--desktop{
        display: none;
        
        @include desktop{
            @include flexbox($align-items: center);
            margin-top: .5rem;
        }
    }
}