@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.signup {
    
    &__container {
        background-color: $main-text;
        padding: 1rem;
        margin: .5rem;
        max-width: 80rem;
        border-radius: 5px;

        @include desktop {
            margin: auto;
        }
    }

    &__headline {
        text-align: center;
        color: $main-text;
        padding: 1rem;
    }

    &__switch-page {
        margin-top: 2rem;
        color: $main-text;
        text-align: center;

        a {
            color: $accent;
        }
    }
}

.form {

    &__btn {
        border: none;
    }
}

.input {

    &__field {
        margin: .5rem 0 1rem;
        height: 2rem;
    }

    &::placeholder {
        position: relative;
        left: 2rem;
    }
}

select {
    width: 100%;
    margin: .5rem 0;
    padding: .5rem 0;
}

legend {
    @extend select;
}
