@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.signup {
    padding: .5rem;
    
    &__container {
        background-color: $primary-light;
        max-width: 35rem;
		width: 100%;
		margin: 2rem auto;
		padding: 0.5rem 2rem 2rem;
		border: none;
		outline: none;
		border-radius: 0.31rem;
    }

    &__headline {
        text-align: center;
        color: $primary-light;
        padding-bottom: 1rem;
    }

    &__heading {
        font-weight: 600;
    }

    &__switch-page {
        margin-top: 2rem;
        color: $primary-light;
        text-align: center;

        a {
            color: $accent;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.form {

    &__btn {
        border: none;
    }

    select {
        appearance: none;
        width: 100%;
        font-size: .9rem;
        cursor: pointer;
        border-radius: 10px;
        padding-left: 1rem;
    }
}

.input {

    &__field {
        background-color: $secondary;
        margin: .5rem 0 1rem;
        height: 2rem;
    }

    &__label {
        display: none;
    }
}

select {
    width: 100%;
    margin: .5rem 0;
    padding: 1rem 0;
}

legend {
    @extend select;
}
