@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.profile {
    padding: 0 .5rem;

    &__container {
        @include container;
        max-width: 50rem;
        padding: 0.5rem 1rem;
        background-color: $primary;
        color: $primary-light;
    }

    &__avatar {
        background-color: $highlight;
        color: $primary-dark;
        height: 2.05rem;
        width: 2.05rem;
        border-radius: 50%;
        @include flexbox($justify: center, $align-items: center);
        font-weight: 600;
        font-size: 1rem;
    }

    &__find-game {
        @extend .profile__container;
        background-color: $primary-dark;
        box-shadow: $shadow;
        padding: 1rem;
    }

    &__sport {
        @include flexbox($justify: space-between, $align-items: center);
        @extend .profile__find-game;
        background-color: $primary-dark;
        max-width: 43rem;
    }

    &__chosen-sport,
    &__date-heading,
    &__time-heading {
        color: $primary-light;
    }

    &__header {
        @include tablet {
            @include flexbox($direction: row, $gap: 2rem);

        }
    }

    &__heading {
        font-weight: 700;
        margin: .5rem 0;
        color: $primary-light;
    }

    &__skill {
        @extend .profile__sport;
    }

    &__location {
        @extend .profile__sport;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    &__logout {
        width: 2rem;
        padding: .2rem;
    }

    &__logged-out {
        font-family: "ClashDisplay";
    }

    &__icon {
        font-size: 1.2rem;
        padding: .1rem;
    }

    &__edit {
        @extend .profile__logout;
        background-color: $primary;
        color: $primary-light;
        font-size: 1.2rem;
        padding: .5rem;
        border: none;
        border-radius: .62rem;
    }

    &__banner {
        @include flexbox($justify: space-between, $align-items: center, $wrap: wrap-reverse);
    }

    &__welcome {
        color: $primary-light;
        font-size: .9rem;
        font-weight: 400;
        font-family: "ClashDisplay";
    }

    &__modal {
        @include flexbox($align-items: center, $justify: center, $direction: column, $gap: 3rem);
        margin: 5rem auto;
        border-radius: .62rem;
        padding: 3rem;
        background-color: $primary;
        height: 30rem;
        max-width: 30rem;

        &-heading {
            color: $primary-light;
            font-family: "ClashDisplay";
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.7rem;
            text-align: center;
        }

        &-sport {
            background-color: $primary-dark;
            color: $primary-light;
            padding: 1rem;
            border-radius: .62rem;
            border: none;
            width: 60%;
        }
    }

    &__update {
        background-color: $grass;
        color: $primary-light;
    }

    &__cancel {
        background-color: $error;
        border-radius: 2px solid $error;
        color: $primary-light;
    }


    &__search {
        margin-top: 0;
    }

    &__available {
        @include flexbox($direction: column, $gap: 1rem);
        padding: 1rem 0;    
    }

    &__game {
        background-color: $grass;
        color: $primary-light;
    }

}

#skill_level {
    background-color: $primary-light;
}
