@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.login {
    padding: .5rem;

    &__container {
        @include container;
        max-width: 25rem;
    }

    &__control {
        padding: 1rem 0;
    }

    &__forgot-password {
        color: $primary;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__switch-page {
        color: $primary;

        &:hover {
            text-decoration: underline;
        }
    }

}

.form {
    width: 100%;
    margin-top: 2rem;

    &__btn {
        margin-top: 1rem;
    }

    &__error {
        color: $error;
        font-weight: 600;
        text-transform: capitalize;
        font-size: .7rem;
        display: block;
        padding-top: .2rem;
    }
}

.input__field {
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    outline: none;
    border-radius: 10px;

    &:focus  {
        box-shadow: inset 0 0 3px $primary
    }
}