@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.carousel {

  &__container {
    @include flexbox($align-items: center, $justify: center);
    height: 8rem;
  }

  &__heading {
    font-family: "ClashDisplay";
    font-weight: 600;
    color: $primary-light;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__icon {
    background-color: $primary-light;
  }
}

.horizontalscroll {
  position: relative;
  height: 300vh;

  &__container {
    @include flexbox($align-items: center);
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  &__card {
    @include flexbox($gap: 2rem);
  }
}

.card {
  overflow: hidden;
  position: relative;
  height: 30rem;
  width: 30rem;
  background-color: $primary;
  border-radius: 0.62rem;

  &__movement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 300ms;
  }

  &__grid {
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    place-content: center;
  }

  &__heading {
    padding: 2rem;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 900;
    color: $primary-light;
    text-transform: uppercase;
    background: (
        rgba(0, 0, 0, 0) 10%
      );
    backdrop-filter: blur(16px);
    border-radius: 0.62rem;
  }
}
