@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.carousel {
    background-color: $primary-dark;

    &__container {
        @include flexbox($align-items: center, $justify: center);
        height: 12rem;
    }

    &__heading {
        font-family: "ClashDisplay";
        font-weight: 600;
        color: $primary-light;
        text-transform: uppercase;
    }

}

.horizontalscroll {
    background-color: $primary-dark;
    position: relative;
    height: 300vh;

    &__container {
        @include flexbox($align-items: center);
        overflow: hidden;
        position: sticky;
        top: 0;
        height: 100vh;
    }

    &__card {
        @include flexbox($gap: 2rem);
    }
}

.card {
    overflow: hidden;
    position: relative;
    height: 28.1rem;
    width: 28.1rem;
    background-color: $primary;

    &__movement {
        position: absolute; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
        z-index: 0; 
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms; 
        transition-duration: 300ms; 
    }

    &__grid {
        display: grid; 
        position: absolute; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
        z-index: 10; 
        place-content: center;
    }

    &__heading {
        padding: 2rem; 
        font-size: 3.75rem;
        line-height: 1; 
        font-weight: 900; 
        color: #ffffff; 
        text-transform: uppercase; 
        background: radial-gradient(circle, rgba(32,32,32,1) 10%, rgba(51,53,51,1) 90%) no-repeat;
        backdrop-filter: blur(16px); 
        border-radius: .62rem;
    }
}