@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.carousel {

  &__container {
    @include flexbox($align-items: center, $justify: center);
    height: 8rem;
  }

  &__heading {
    font-family: "ClashDisplay";
    font-weight: 600;
    color: $primary-light;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__icon {
    background-color: $primary-light;
  }
}

.horizontal {
  position: relative;
  height: 300vh;

  &__container {
    @include flexbox($align-items: center);
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  &__card {
    @include flexbox($gap: 2rem);
  }
}
