$background: #202C39;
$main-text: #f8f3f2;
$primary: #0B69A0;
$secondary: #C4C4C4;
$accent: #F3B416;
$tertiary: #157F1F;
$highlight: #C7EF00;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;