$primary-dark: #202020;
$primary-light: #FAFDFA;
$primary: #333533;
$secondary: #D6D6D6;
$tertiary: #FFEE32;
$accent: #FFD100;
$grass: #498847;
$highlight: #a8c932;
$error: #AD160B;
$shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;