@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.navigation {

    &__list {
        gap: 2rem;
        padding: 0;
    }

    &__list-item {
        border-radius: 5px;
    }

    &__link {
        @include flexbox($justify: space-between, $align-items: center);
        color: $primary-light;
    }

    &__item {
        @include flexbox($gap: 1rem);
        padding: 0 1rem;
    }

    &__icon {
        font-size: 2rem;
        color: $primary-light;
        padding-right: .8rem;

        @include desktop {
            margin-left: .5rem;
        }
    }

    &__menu {
        @include flexbox();
        padding-top: .5rem;
        border-bottom: 3px solid $primary-light;

        @include desktop {
            padding-top: 0;
            border-bottom: 0;
        }
    }

    &__btn {
        padding: .5rem;
        text-transform: uppercase;
        border-radius: 10px;
        font-weight: 600;
        display: block;
        text-align: center;

        &--signup {
            border: 2px solid $accent;
            background-color: $primary-dark;
            color: $primary-light;
        }

        &--login {
            background-color: $primary-light;
            color: $primary-dark;
            border: none;
        }
    }

    &__btns {
        padding: .5rem 1rem 0;
        @include flexbox($direction: column, $gap: 1rem);
    }

    &--mobile {

        @include desktop {
            display: none;
        }
    }
}

.hamburger-react {
    margin-left: auto;
    color: $primary-light;
}