@use "../../styles/partials/utilities/mixins" as *;
@use "../../styles/partials/utilities/variables" as *;

.navigation {

    &__list {
        gap: 2rem;
        padding: 0;
    }

    &__list-item {
        border-radius: 5px;
    }

    &__link {
        @include flexbox($justify: space-between, $align-items: center);
        color: $main-text;
    }

    &__item {
        @include flexbox($gap: 1rem);
        padding: 0 1rem;
    }

    &__icon {
        font-size: 2rem;
        color: $main-text;
        padding-right: .8rem;

        @include desktop {
            margin-left: .5rem;
        }
    }

    &__menu {
        @include flexbox();
        padding-top: .5rem;

        @include desktop {
            padding-top: 0;
        }
    }

    &--mobile {
        background-color: $background;
        border-bottom: 3px solid $main-text;

        @include desktop {
            display: none;
        }
    }
}

.hamburger-react {
    margin-left: auto;
    color: $main-text;
}